
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #7c7e83;
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    min-width: 576px;
    overflow-x: hidden;
}

.text-white{
    color: white;
}

.flex-container{
    display: flex;
}

main .container{
    width: 100%;
    height: calc(100vh - 85px) ;
    
}

main .container #contain-left{
    width: 200px;
    height: 100%;
    background-color: #000000;
    padding: 20px 15px 0 15px;
}

main .container #contain-left .img{
    height: 30px;
    vertical-align: middle;
}

main .container #contain-left .small-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

main .container #contain-left .options-top{
    width: 100%;
    height: calc(100% - 90px);
    line-height: 40px;
}

main .container #contain-left .options-top div{
    padding: 5px 0;
}

main .container #contain-left .options-top #logo-small{
    display: none;
}

main .container #contain-left .options-top #plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    margin-right: 5px;
}

main .container #contain-left .options-top ul li{
    list-style: none;
}

main .container #contain-left .options-bottom{
    height: 90px;  
}

main .container #contain-left .options-bottom #user{
    background-color: #808080;
    border-radius: 50%;
}

main .container #contain-left .options-bottom div{
    padding: 10px 0;
}

.small-text{
    font-size:11px;
}

main .container #contain-right{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}

main .container #contain-right .nav-top{
    width: 100%;
    height: 65px;
    background-color: #080b12;
    justify-content: flex-end;
    padding: 10px;
}

main .container #contain-right .nav-top button{
    border: rgb(219, 219, 219) solid 2px;
    padding: 10px 45px;
    background-color: transparent;
    border-radius: 50px;
}

main .container #contain-right .contain-row{
    width: 100%;
    background-color: #141922;
    padding: 50px 30px;
}

main .container #contain-right .contain-row .row{
    flex-wrap: wrap;
}

main .container #contain-right .contain-row .header{
    text-align: center;
}

main .container #contain-right .contain-row .header ul li{
    display: inline;
    padding: 0 10px ;
}

main .container #contain-right .contain-row .header ul li, a{
    text-decoration: none;
    color: #7c7e83;
}

main .container #contain-right .contain-row .title-suggestions{
    padding: 30px 0;
}

main .container #contain-right .contain-row .row .contain-img-text{
    width: calc(94% / 6);
    margin: 0 0.5%;
    text-align: center;
    padding: 5px 0;
}

main .container #contain-right .contain-row  p{
    padding: 5px 0;
}

main .container #contain-right .contain-row .row img{
    width: 100%;
}

main .container #contain-right .contain-row .row .img-radius{
    border-radius: 100%;
}

footer{
    width: 100%;
    height: 85px;
    background-color: #282828;
    overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

footer#player div.player-album,
footer#player div.player-controller{
    align-items: center;
    width: 20%;
}

footer#player div.player-album .img-contain{
    width: 20%;
    min-width: 60px;
}

footer#player div.player-album img{
    width: 100%;
}

footer#player div.player-album .player-album-title{
    padding: 0 40px 0 10px;
}

footer#player div.player-controller{
    flex-direction: column;
    width: 40%;
    text-align: center;
}

footer#player div.player-controller .wrapper{
    justify-content: space-around;
    align-items: center;
}

footer#player div.player-controller .player-bar{
    width: 60%;
    background-color: #7c7e83;
    height: 3px;
    border-radius: 50px;
}

footer#player div.player-controller .player-bar .player-bar-inside{
    width: 30%;
    background-color: white;
    height: 3px;
    border-radius: 50px;
}

footer#player div i{
    padding: 0 10px;
}

footer#player div.player-controller #play{
    font-size: 35px;
}

footer#player div.player-controller .play-option{
    justify-content: center;
    align-items: center;
}

footer#player div.player-fader .player-bar{
    width: 100px;
    background-color: #7c7e83;
    height: 3px;
    border-radius: 50px;
}

footer#player div.player-fader .player-bar .player-bar-inside{
    width: 50px;
    background-color: white;
    height: 3px;
    border-radius: 50px;
}

footer#player div.player-fader{
    align-items: center;
}

@media screen and (max-width: 992px){
    main .container #contain-right .contain-row .row .contain-img-text{
        width: calc(94% / 4);
    }
}


@media screen and (max-width: 768px){
    main .container #contain-right .contain-row .row .contain-img-text{
        width: calc(94% / 2);
    }

    footer#player div.player-album .img-contain{
        min-width: 30px;
    }

    footer#player div.player-album .player-album-title{
        padding: 0 0 0 5px;
    }
}


@media screen and (max-width: 576px){
    main .container #contain-left span, h4, a, hr, #plus{
        display: none;
    }

    main .container #contain-left{
        width: 60px;
    }

    main .container #contain-right{
        width: calc(100% - 60px);
    }
    
    main .container #contain-left .options-top #logo-small{
        display: inline;
    }

    main .container #contain-left .options-top #logo{
        display: none;
    }

}  