
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #7c7e83;
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
}

.text-white{
    color: white;
}

.flex-container{
    display: flex;
}

main .container{
    width: 100%;
    height: calc(100vh - 85px) ;
    
}

main .container #contain-left{
    width: 200px;
    height: 100%;
    background-color: #000000;
}

main .container #contain-left .img{
    height: 30px;
    vertical-align: middle;
}

main .container #contain-left .small-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

main .container #contain-left .options-top{
    width: 100%;
    height: calc(100% - 80px);
    line-height: 40px;
    padding: 20px 60px 0 15px;
}

main .container #contain-left .options-top div{
    padding: 5px 0;
}

main .container #contain-left .options-top ul li{
    overflow: auto;
}

main .container #contain-left .options-top #plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    margin-right: 5px;
}

main .container #contain-left .options-top ul li{
    list-style: none;
}

main .container #contain-left .options-bottom{
    width: 100%;
    height: 80px;  
}

main .container #contain-left .options-bottom h4{
    display: inline;
}

main .container #contain-left .options-bottom #user{
    background-color: #808080;
    border-radius: 50%;
}

main .container #contain-left .options-bottom hr{
    margin: 10px 15px;
}

main .container #contain-left .options-bottom div{
    padding: 0 15px;
}

.small-text{
    font-size:11px;
}

main .container #contain-right{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}

main .container #contain-right .nav-top{
    width: 100%;
    height: 65px;
    background-color: #080b12;
    justify-content: flex-end;
    padding: 10px;
}

main .container #contain-right .nav-top button{
    border: white solid 1px;
    padding: 10px 45px;
    background-color: transparent;
    border-radius: 50px;
}

main .container #contain-right .contain-row{
    width: 100%;
    background-color: #141922;
    padding: 20px;
}

main .container #contain-right .contain-row .row{
    flex-wrap: wrap;
}

main .container #contain-right .contain-row .header{
    text-align: center;
}

main .container #contain-right .contain-row .header ul li{
    display: inline;
    padding: 0 10px ;
}

main .container #contain-right .contain-row .title-suggestions{
    padding: 30px 0;
}

main .container #contain-right .contain-row .row .contain-img-text{
    width: calc(94% / 6);
    margin: 0 0.5%;
    text-align: center;
}

main .container #contain-right .contain-row  p{
    padding: 5px 0;
}

main .container #contain-right .contain-row .row img{
    width: 100%;
}

main .container #contain-right .contain-row .row .img-radius{
    border-radius: 100%;
}

footer .footer-container{
    width: 100%;
    height: 85px;
    background-color: #282828;
    justify-content: space-between;
    padding: 0 10px;
    overflow-x: hidden;
}

footer .footer-container
.footer-album,
.footer-play-song,
.footer-settings{
    align-items: center;
}

footer .footer-container .footer-album img{
    width: 50px;
    background-color: blue;
}

footer .footer-container .footer-album p{
    padding: 0 20px 0 10px;
}

footer .footer-container .footer-play-song{
    flex-direction: column;
    justify-content: center;
}

footer .footer-container .footer-play-song div{
    align-items: center;
}

footer .footer-container i {
    padding: 7px;
}

footer .footer-container .footer-play-song  .footer-play-song-top i#play{
    font-size: 25px;
}

footer .footer-container .footer-play-song  .footer-play-song-buttom .line-song{
    height: 3px;
    width: 400px;
    border-radius: 50px;
    border: none;
    background-color: #7c7e83;
    display: inline-block;
    margin: 0 15px;
}

footer .footer-container .line-song-white{
    height: 3px;
    width: 25%;
    border-radius: 50px;
    border: none;
    background-color: white;
}

footer .footer-container .footer-settings .line-audio{
    height: 3px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: #7c7e83;
    display: inline-block;
    margin: 0 15px;
}


@media screen and (max-width: 992px){
    main .container #contain-right .contain-row .row .contain-img-text{
        width: calc(94% / 4);
    }
}


@media screen and (max-width: 768px){
    main .container #contain-right .contain-row .row .contain-img-text{
        width: calc(94% / 2);
    }
}


/* @media screen and (max-width: 576px){
    main .container #contain-left span, h4, a, hr, #plus{
        display: none;
    }

    main .container #contain-left{
        width: 100px;
    }
    
}  */