
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #7c7e83;
    font-family: 'Circular Std', sans-serif;
}
.text-white{
    color: white;
}

.flex-container{
    display: flex;
}

main .container{
    width: 100%;
    height: calc(100vh - 70px) ;
    
}

main .container #contain-left{
    width: 15%;
    height: 100%;
    background-color: #000000;
}

main .container #contain-left .options-top{
    width: 100%;
    height: calc(100% - 80px);
    line-height: 40px;
    padding: 20px 60px 0 15px;
}

main .container #contain-left .options-top div{
    padding: 5px 0;
}

main .container #contain-left .options-top #plus{
    font-size:40px;
    vertical-align: top;
}

main .container #contain-left .options-top ul li{
    list-style: none;
}

main .container #contain-left .options-bottom{
    width: 100%;
    height: 80px;
    
}

main .container #contain-left .options-bottom h4{
    display: inline;
}

main .container #contain-left .options-bottom #user{
    font-size: 30px;
    vertical-align: middle;
}

main .container #contain-left .options-bottom hr{
    margin: 10px 15px;
}

main .container #contain-left .options-bottom div{
    padding: 0 15px;
}

main .container #contain-left .options-bottom div.install{
    font-size:13px;
}

main .container #contain-right{
    width: 85%;
    height: 100%;
    overflow: auto;
}

main .container #contain-right .nav-top{
    width: 100%;
    height: 65px;
    background-color: #080b12;
    justify-content: flex-end;
    padding: 10px;
}

main .container #contain-right .nav-top .button{
    width: 250px;
    height: 100%;
    background-color: lightslategrey;
}

main .container #contain-right .contain-row{
    width: 100%;
    background-color: #141922;
    padding: 10px;
}

main .container #contain-right .contain-row .list{
    width: 100%;
    height: 50px;
    background-color: lightslategray;
    margin-bottom: 10px;
}

main .container #contain-right .contain-row .row{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: lightslategray;
}

footer .footer-container{
    width: 100%;
    height: 70px;
    background-color: #282828;
    justify-content: space-between;
    padding: 10px;
}

footer .footer-container div{
    width: 150px;
    height: 100%;
    background-color: white;
}

footer .footer-container div.centre{
    width: 500px;
    height: 100%;
    background-color: white;
}