
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #7c7e83;
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
}

.text-white{
    color: white;
}

.flex-container{
    display: flex;
}

main .container{
    width: 100%;
    height: calc(100vh - 70px) ;
    
}

main .container #contain-left{
    width: 200px;
    height: 100%;
    background-color: #000000;
}

main .container #contain-left .img{
    height: 30px;
    vertical-align: middle;
}

main .container #contain-left .small-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

main .container #contain-left .options-top{
    width: 100%;
    height: calc(100% - 80px);
    line-height: 40px;
    padding: 20px 60px 0 15px;
}

main .container #contain-left .options-top div{
    padding: 5px 0;
}

main .container #contain-left .options-top ul li{
    overflow: auto;
}

main .container #contain-left .options-top #plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    margin-right: 5px;
}

main .container #contain-left .options-top ul li{
    list-style: none;
}

main .container #contain-left .options-bottom{
    width: 100%;
    height: 80px;  
}

main .container #contain-left .options-bottom h4{
    display: inline;
}

main .container #contain-left .options-bottom #user{
    background-color: #808080;
    border-radius: 50%;
}

main .container #contain-left .options-bottom hr{
    margin: 10px 15px;
}

main .container #contain-left .options-bottom div{
    padding: 0 15px;
}

main .container .small-text{
    font-size:13px;
}

main .container #contain-right{
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

main .container #contain-right .nav-top{
    width: 100%;
    height: 65px;
    background-color: #080b12;
    justify-content: flex-end;
    padding: 10px;
}

main .container #contain-right .nav-top button{
    border: white solid 1px;
    padding: 10px 45px;
    background-color: transparent;
    border-radius: 50px;
}

main .container #contain-right .contain-row{
    width: 100%;
    background-color: #141922;
    padding: 20px;
}

main .container #contain-right .contain-row .title-suggestions{
    padding: 30px 0;
}

main .container #contain-right .contain-row .header{
    text-align: center;
}

main .container #contain-right .contain-row .header ul li{
    display: inline;
    padding: 0 10px ;
}

main .container #contain-right .contain-row .row .contain-img-text{
    text-align: center;
    margin-right: 15px;
    width: 200px;
}

main .container #contain-right .contain-row  p{
    padding: 5px 0;
}

main .container #contain-right .contain-row .row img{
    width: 200px;
    height: 200px;
}

main .container #contain-right .contain-row .row .img-radius{
    border-radius: 100%;
}

footer .footer-container{
    width: 100%;
    height: 70px;
    background-color: #282828;
    justify-content: space-between;
    padding: 10px;
}

footer .footer-container div{
    width: 150px;
    height: 100%;
    background-color: white;
}

footer .footer-container div.centre{
    width: 500px;
    height: 100%;
    background-color: white;
}